* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    cursor:pointer;
}

.manager .submenu {
    margin-left: 20px;
}

li{
    list-style: none;
}

body{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.manager{
    height:90%;
    overflow-y: auto;
}

.manager li{
    padding: 10px 60px;
}

.manager ul{
    border-bottom: 1px solid lightgray;
}

.manager li:hover{
    background-color: aquamarine;
}

.context_menu{
    background-color: white;
    z-index: 5;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 170px;
}

.file_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
}

.context_menu span{
    cursor: pointer;
}

.context_menu ul{
    width: 150px;
}

.context_menu li{
    padding: 6px 10px;
}

.context_menu li:hover{
    background-color: #e3e3e3;
}

.container{
    width: 70%;
    margin-top: 5%;
    height: 90%;
}

.row{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.hide {
    display: none;
}

.shadow{
    -webkit-box-shadow: 0px 0px 16px 3px rgba(173,173,173,1);
    -moz-box-shadow: 0px 0px 16px 3px rgba(173,173,173,1);
    box-shadow: 0px 0px 16px 3px rgba(173,173,173,1);
}

.folder, .file{
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: 3%;
}

.folder{
    background-image: url("images/folder.png");
}

.file{
    background-image: url("images/file.png");
}

.modal{
    top: 50px;
    width: 600px;
    height: 510px;
    position: absolute;
    background-color: white;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 23px 5px rgba(204,198,204,1);
    -moz-box-shadow: 0px 0px 23px 5px rgba(204,198,204,1);
    box-shadow: 0px 0px 23px 5px rgba(204,198,204,1);
}

.close{
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal .title{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.modal .content{
    margin: 10%;
    height: 65%;
}

.modal .content .textarea{
    height: 100%;
}

.modal textarea{
    width: 100%;
    height: 100%;
}

.modal .action{
    text-align: center;
    margin-top: 4%;
}

.modal .save{
    background-color: #30ddff;
    border: none;
    padding: 10px 90px;
}

.modal textarea{
    resize: none;
    border: 1px solid black;
}